@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Bauhaus 93';
  src: url('/fonts/Bauhaus 93 Regular.tff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CmPrasanmit';
  src: url('/fonts/CmPrasanmit Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.headingShirtsCard {
  font-family: 'Bauhaus 93';
  font-size: 2rem;
  line-height: 1.75rem;
  color: rgb(64, 64, 64);
}

.headingProductsTitle {
  font-family: 'Bauhaus 93';
  font-size: 3rem;
  line-height: 3rem;
  color: rgb(64, 64, 64);
}

.heading2ProductsTitle {
  font-family: 'Bauhaus 93';
  font-size: 2.5rem;
  line-height: 1.75rem;
  color: rgb(64, 64, 64);
}

.Eng {
  font-family: 'Bauhaus 93';
  color: rgb(64, 64, 64);
}

.Thai {
  font-family: 'CmPrasanmit';
  color: rgb(64, 64, 64);
}